.btn {
  width: 100%;
  text-transform: none;
  ion-icon {
    margin: 0 4px;
  }
}
.primary {
    --background: #184EC9;
    --color: white;
}
.secondary {
    --background: #D9EDFF;
    --color: #184EC9
}