<!--  Header Section  -->
<ion-header>
  <ion-toolbar class="top-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <!-- Dropdown selection for study category -->
    <div class="dropdown-title">
      <ion-select
        class="custom-select"
        interface="popover"
        label="What do you want to study?"
        labelPlacement="floating"
        value="Computer Technologies"
      >
        @for(category of (categories$ |async); track $index) {
        <ion-select-option [value]="category.main">
          {{ category.main }}
        </ion-select-option>
        }
      </ion-select>
    </div>
  </ion-toolbar>
</ion-header>

<!--  Top Toolbar Buttons  -->
<div class="action-toolbar">
  <div class="buttons-container">
    <!-- Sort Button -->
    <ion-button fill="clear">
      <ion-icon slot="start" name="filter-outline"></ion-icon>
      <ion-label>Sort</ion-label>
    </ion-button>

    <!-- Filter Button with badge count -->
    <ion-button fill="clear" (click)="showFilter()">
      <ion-icon slot="start" name="funnel-outline"></ion-icon>
      <ion-label>Filter</ion-label>
      @if ((enableFilter |async) && (filteredProgramCount$ |async)){
      <ion-badge class="filter-badge"
        >{{(filteredProgramCount$ |async)}}</ion-badge
      >}
    </ion-button>
  </div>
</div>

<!--  Active Filter Chips  -->
@if ((filteredProgramIds$ | async)?.length) {
<!-- Show chips when there are filtered programs -->
<div class="chips-container">
  <div class="chips-scroller">
    @for (chip of (filteredProgramIds$ | async); track chip.id) {
    <ion-chip class="active-chip" (click)="removeFilter(chip.id)">
      <ion-label>{{ chip.category }}</ion-label>
      <ion-icon name="close-outline"></ion-icon>
    </ion-chip>
    }
  </div>
</div>

<!-- Result Heading -->
<div class="result-summary">Search result</div>
} @else {
<!-- Show when no filters are applied -->
<div class="result-summary">All Courses</div>
}

<!--  Program Listing  -->
<ion-content>
  <div class="card-area">
    <div class="card-grid">
      @for (program of programs; track program.id){
      <app-program-card
        (onProgramClick)="programDetail($event)"
        [data]="program"
      ></app-program-card>
      }
    </div>
  </div>
</ion-content>
